<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<input type="hidden" name="boardSeq" th:value="${param.boardSeq}"></input>
	<h1 th:text="${param.boardSeq}"></h1>
	<div class = "uploadResult" id = "downFile">
	</div>

	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
   		$(function(){
        	let boardSeq = $("[name='boardSeq']").val();
        	console.log(boardSeq);
        	$.ajax({
            	url: "/boards/uploadList/"+boardSeq,
            	method: "get",
            	dataType: "json",
            	success:function (data) {
                	
                	let uploadFilesList = data.uploadFilesList
                	console.log(uploadFilesList);
                	
					let output = "";
                	$.each(uploadFilesList, function () {
						output += "<div>";
                    	output += "<p>"+this.fileName+"</p>"
                    	output += "<img src='/boards/display/?fileName=" + this.thumbnailURL+"'>";
                    	output += "<form action = 'boards/download/" + this.imgSeq +"'>"
                    	output += "<input type = 'submit' value = 'download'></input></form>"
                    	output += "</div>"
                    	
                	});
                	document.getElementById('downFile').innerHTML = output;

            	},
            	error: function (jqXHR, textStatus, errorThrown) {
                	console.log(textStatus);
            	}
        	})
    	});
    	

</script>

	
</body>
</html>
